@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">The server time is currently</h1>
    <h2>@DateTime.Now</h2>
    <h2> I hope you have a nice day!</h2>
</div>
