@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">The current server time is</h1> <!-- Create a new ASP.NET Core web application project. -->
    <br />
    <h2> @DateTime.Now </h2> <!-- Design a simple ASP.NET Core web app that displays the actual server time in the browser. -->

    <h2 class="h2"> Does using theasdf above count as: <br /><br />Customize the CSHTML &lt;h2&gt; element with text of your choosing?</h2>
</div>
